/*
 * Author: Carlos Alvarez
 * URL: http://Alvarez.is
 *
 * Project Name: NYC Design
 * Version: 1.0
 * Date: 04-20-2014
 * URL: 
 */


/* ==========================================================================
   Base Styles, Bootstrap Modifications & Fonts Import
   ========================================================================== */

@import url(//fonts.googleapis.com/css?family=Montserrat:400,700);


::-moz-selection {
    background: #f2c2c9;
    color: #a4003a;
    text-shadow: none;
}

::selection {
    background: #16a085;
    color: #a4003a;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.centered {
	text-align: center
}

.mt {
	margin-top: 20px;
}

.mt-sm {
	margin-top: 10px;
}

.mt-lg {
	margin-top: 80px;
}

.ml {
	margin-left: 20px;
}

.mr {
	margin-right: 50px;
}

.mb {
	margin-bottom: 80px;
}

/* ==========================================================================
   General styles
   ========================================================================== */
html{
	height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    background-color: #f2f2f2;
    height: 100%;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
    color: #4a4a4a;
}

.work p {
	color: #2f2f2f;
}

.navbar-brand {
	font-weight: 700;
}

.navbar .navbar-brand {
	color: #1abc9c;
}

.navbar-nav .dropdown-menu {
	background-color: #101010;
}

.navbar-default {
	background-color: transparent;
	border-color: transparent;
}

.navbar .navbar-nav > .active > a, .navbar .navbar-nav > .active > a:hover, .navbar .navbar-nav > .active > a:focus {
	color: #1abc9c;
	background-color: transparent;
	border-bottom: 2px solid #1abc9c
}

.navbar .dropdown-menu > .active > a, .navbar .dropdown-menu > .active > a:hover, .navbar .dropdown-menu > .active > a:focus {
	color: #1abc9c;
	background-color: #f2f2f2
}

.navbar .navbar-nav > li > a, .navbar-nav .dropdown-menu > li > a {
	color: #1abc9c;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus,
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus,
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    background-color: transparent;
    color: #ffffff;
}

.transparent {
    background: #f2f2f2;
    background:rgba(0,0,0,0.5);
}

.tools {
	margin-top: 10px;
	font-size: 12px;
	font-style: italic;
	color: #f1f1f1;
}

.tools::before {
	content: 'Tools: ';
}

.exhibited {
	margin-top: 20px;
	font-size: 13px;
	font-style: italic;
}

.credit {
	margin-top: 5px;
	font-size: 11px;
	text-align: center;
	font-style: italic;
}

.references p, .references ol li{
	font-size: 12px;
}

.nav-page {
	font-weight: 700;
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 10px 0px;
	margin: 30px 0 0;
	outline: none;
}

.nav-page a:hover {
	border-color: #999;
	color: #999;
}

.next a::after {
	content: '\2192';
}

.prev a::before {
	content: '\2190';
}


/* ==========================================================================
   Wrap Sections
   ========================================================================== */

#headerwrap {
	background: url(../img/fog.jpg) no-repeat center top;
	margin-top: 50px;
	/*padding-top: 250px;*/
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	/*min-height: 550px;*/
	/*height: 50px;*/
	width: 100%;
	/*display: none;*/
	/*margin-top: -220px;
	padding-top: 320px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 125px;
	width: 150%;
	*/
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap h1 {
	color:#ffffff;
	padding-top: 10px;
	padding-bottom: 20px;
	letter-spacing: 4px;
	font-size: 80px;
	font-weight: bold;
}

#headerwrap h4 {
	font-weight: 400;
	color: #ffffff
}

#social {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #f2f2f2;
}

#social i {
	font-size: 20px;
	color: #4a4a4a
}

#social i:hover {
	color: #1abc9c
}

#footerbuffer {
	height: 80px;
}
#footerwrap {
	position: fixed;
	bottom: 0px;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 10px;
	background-color: #2f2f2f;
}

#footerwrap p {
	color: #f2f2f2;
	margin-left: 10px;
	font-size: 13px
}

#workwrap {	
	background: url(../img/work.jpg) no-repeat center top;
	margin-top: -70px;
	padding-top: 250px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 650px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#workwrap h1 {
	color:#ffffff;
	padding-top: 10px;
	padding-bottom: 20px;
	letter-spacing: 4px;
	font-size: 80px;
	font-weight: bold;
}

#workwrap h4 {
	font-weight: 400;
	color: #ffffff
}

#aboutwrap {	
	/*background: url(../img/about.jpg) no-repeat center top;
	margin-top: -70px;
	padding-top: 250px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 550px;
	width: 100%;
	*/
	background: url(../img/brick.jpg) no-repeat center top;
	/*margin-top: 50px;*/
	padding-top: 10%;
	/*text-align:center;*/
	background-attachment: relative;
	/*background-position: 50% 30%;*/
	min-height: 100%;
	/*margin-bottom: -80px;*/
	width: 100%;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#aboutwrap p {
	color:#ffffff;
	padding: 16px 10px 16px 10px;
	/*letter-spacing: 2px;*/
	font-size: 16px;
	/*font-weight: bold;*/
}

/* Carousel Fade */
.carousel-fade .carousel-inner .item {
	-webkit-transition-property: opacity;
	transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
	opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
	opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
	left: 0;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
	z-index: 2;
}
.carousel {
	margin: 0 auto;
}

/* Gallery */
.gallery {
	margin-top: 30px;
}

/* Masonry */
.grid-item { 
	margin:0px 0px 0px 0px; 
	display: compact;
	float: left;
	padding: 7px;
	width: 25%;
	/*opacity: 0;*/
}
.og-grid {
	position: relative;
	margin: 0 auto;
	padding: 1em 0 4em;
	max-width: 1100px;
	list-style: none;
	text-align: center;
}


.og-grid li {
	display: inline-block;
	margin: 10px 5px 0 5px;
	vertical-align: top;
	height: 250px;
}

.og-grid li > a,
.og-grid li > a img {
	border: none;
	outline: none;
	display: block;
	position: relative;
}

.og-grid li.og-expanded > a::after {
	top: auto;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: #ddd;
	border-width: 15px;
	left: 50%;
	margin: -20px 0 0 -15px;
}

.grid-item a,
.grid-item a img {
	border: none;
	outline: none;
	display: block;
	position: relative;
}

.grid-item.og-expanded > a::after {
	top: auto;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: #f2f2f2;
	border-width: 15px;
	left: 50%;
	margin: -20px 0 0 -15px;
}

.og-expander {
	position: relative;
	/*background: #ddd;*/
	top: auto;
	left: 0;
	width: 100%;
	margin-top: 10px;
	text-align: left;
	height: 0;
	overflow: hidden;
}

.og-expander-inner {
	padding: 30px 15% 10px 15%;
	height: 100%;
	text-align: center;
	border: solid, 5px;
	margin-bottom: 50px;
}

.og-close {
	position: absolute;
	width: 40px;
	height: 40px;
	top: 30px;
	right: 290px;
	cursor: pointer;
	z-index: 1;
}

.og-close::before,
.og-close::after {
	content: '';
	position: absolute;
	width: 100%;
	top: 50%;
	height: 1px;
	background: #888;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}

.og-close::after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.og-close:hover::before,
.og-close:hover::after {
	background: #333;
}

.og-fullimg,
.og-details {
	width: 50%;
	float: left;
	height: 100%;
	overflow: hidden;
	position: relative;
	text-align: left
}

.og-details {
	padding: 0 50px 10px 50px;
}

/*.og-fullimg {
	text-align: left;
}
*/
.og-fullimg img {
	display: inline-block;
	/*max-height: 100%;*/
	width: 100%;
	border: 3px solid #FFF;
	margin-bottom: 20px;
}

.og-details h3 {
	font-weight: 300;
	font-size: 36px;
	color: #f2f2f2;
	/*padding: 40px 0 10px;*/
	margin-bottom: 10px;
}

.og-details p {
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #f2f2f2;
	
}

.og-details a {
	font-weight: 700;
	font-size: 16px;
	color: #f2f2f2;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 10px 20px;
	border: 3px solid #f2f2f2;
	display: inline-block;
	margin: 30px 0 0;
	outline: none;
}

.og-details a::before {
	content: '\2192';
	display: inline-block;
	margin-right: 10px;
}

.og-details a:hover {
	border-color: #999;
	color: #999;
}

.og-loading {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #ddd;
	box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ccc;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -25px 0 0 -25px;
	-webkit-animation: loader 0.5s infinite ease-in-out both;
	-moz-animation: loader 0.5s infinite ease-in-out both;
	animation: loader 0.5s infinite ease-in-out both;
}

@-webkit-keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@-moz-keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@media screen and (max-width: 830px) {
	.og-expander h3 { font-size: 32px; }
	.og-expander p { font-size: 13px; }
	.og-expander a { font-size: 12px; }

}

@media screen and (max-width: 650px) {
	#aboutwrap p { font-size: 14px; }
	.og-fullimg { display: none; }
	.og-details { float: none; width: 100%; }
}